.donate-form {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;

  &:after {
    content: "";
    background: url("../img/stripe-pattern.svg");
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    align-items: center;
    @include make-row(12);
    @include make-container();
    padding-top: 120px;
    padding-bottom: 120px;
  }
    >section {
      @include make-col-ready();
      @include media-breakpoint-up(lg) {

      @include make-col(1, 5, 5);
      }
    }

    >div {
      @include make-col-ready();
      @include media-breakpoint-up(lg) {
  
      @include make-col(7, 6, 6);
      }
      .ngp-form {
        max-width: 100%;
      }

      .multistep-layout.split-layout {
        min-width: 0;

        form {
          width: 100%;
        }
      }

      .at .at-fieldset {
        padding: 0;
      }

      .at label {
        color: $primary;
      }

      .at .at-radios {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;

        .label-amount {
          float: none;

          margin: 0;
          width: auto;
          flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          max-width: 49%;

          @include media-breakpoint-up(lg) {
            flex: 0 0 33.3334%;
            -ms-flex: 0 0 33.3334%;
            max-width: 33%;
          }

          &.label-otheramount {
            flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            max-width: 100%;

            .label-otheramount-prefix {
              position: absolute;
              left: 20px;
              color: $primary;
              top: 42px;
            }

            input[type="number"] {

              top: 0;
              width: 100% !important;
              right: 0;
              padding-left: 40px;
              border: solid 1px $primary;
              background: transparent;
              color: $primary;
            }
          }


        }

      }

      .at .at-steps {
        background: transparent;

        border-radius: 0;
        padding: 0 10px;

        .at-step {
          padding: 0;
          margin: 0;
          border-bottom: solid 1px $primary;

          .step-title {
            color: $primary;
          }

          &.active {
            border-bottom: solid 5px $primary;

          }

        }

        .at-step:nth-child(2) {
          // border-left: solid 1px $primary;
          // border-right: solid 1px $primary;
        }
      }

      .ngp-form {
        margin-top: 60px;

        .btn-at-primary {
          // @extend .btn;
          color: #fff;
          ;

        }

        .at-fields {
          .at-radio {
            margin: 0;

            label.label-otheramount {
              text-align: left;

            }

            label.label-amount {
              text-shadow: none;
              letter-spacing: 0;
              font-size: 1.2rem;
              padding: 15px;
              margin-bottom: 1.5rem;
              font-weight: 700;

              input:required {
                background: transparent;
              }

              input:required::selection {
                background: transparent;
              }

              input[type="radio"]:checked+a {
                background: $faded-blue;

              }

              >a {
                background: transparent;
                border: solid 1px $primary;
                border-radius: 0;
                height: 100%;
                width: 90%;

                margin: 0 auto;

              }
            }
          }
        }

        .at-inner {
          background: none;
        }

        .at-title,
        .at-markup {
          display: none;
        }
      }
    }
}

.contribution-rules {
  background: $faded-blue;
  @include make-container();

  >div {
    max-width: 700px;
    margin: 0 auto;

  }

  // @include media-breakpoint-up(md) { }
  @include media-breakpoint-up(lg) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}